---
title: "Old file. Moved to certs/ccna/cisco-u/switch-startup-and-verification.md. Safe to delete this file."
build:
  render: never
  list: never
---
