{{ define "main" }}
<article class="section-page">
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    {{- with .Params.blurb }}
    <p class="blurb">{{ . }}</p>
    {{- end }}
  </header>
  {{ .Content }}

  {{- if .Sections }}
  <ul class="subsections">
    {{- range .Sections }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ len .RegularPagesRecursive }} {{ if eq (len .RegularPagesRecursive) 1 }}note{{ else }}notes{{ end }})</li>
    {{- end }}
  </ul>
  {{- end }}

  {{- range .RegularPagesRecursive.GroupByDate "2006" }}
  <h2 class="year">{{ .Key }}</h2>
  {{ partial "postlist.html" .Pages }}
  {{- end }}
</article>
{{ end }}
